body {
  background-color: #8fccf2;
}

#content {
    margin-left: 20px;
}

.bg-light p-3 {
	font-size: 40px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.overlay {
    position:absolute; 
	min-width: 99%;
	min-height: 100%;
}

.btn-xl {
	padding: 5px 15px;
    font-size: 50px;
    border-radius: 20px;
    border-width: 2px;
	/*margin-right:25%;*/
}

.icon {
	min-width:100px;
/*	margin-left:60%;*/
}

.Bigtext {
	font-size: 400%;
}

.footer {
	padding-top:20%;
}

#password{
	 display: none;
}
 
.col-md-3 {
	padding-top:3%;
}

.hidden {
	display: none;
}

.center {
	padding-top:20%;
}